[user]
	email = martinbergpetersen@gmail.com
	name = Martin Berg Petersen
[core]
	editor = "nvim"
[commit]
	verbose = true
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[merge]
	tool = fugitive

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgall = !"git lgall --all"
	mergeff = merge --ff-only
	pullff = pull --ff-only

lgall = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
