[user]
	email = martinbergpetersen@gmail.com
	name = Martin Berg Petersen
[core]
	editor = "nvim"
[commit]
	verbose = true
[mergetool "fugitive"]
	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[merge]
	tool = fugitive

[alias]
	wlist = worktree list
	cm = commit
	ls = log --oneline --color  --pretty=format:'%Cgreen%h%Creset %Cgreen(%cr)  %C(yellow)%d%Creset%s %C(bold blue)[%an]%Creset' --abbrev-commit
	lg = log --color --graph  --pretty=format:'%Cgreen%h%Creset %Cgreen(%cr)  %C(yellow)%d%Creset%s %C(bold blue)[%an]%Creset' --abbrev-commit
	mergeff = merge --ff-only
	pullff = pull --ff-only
